/* PDSF POPOVERS BRUH */

.pdsf-popover {
  background: var(--pds-white);
  background-clip: padding-box;
  border: 1px solid var(--pds-gray-alpha-150);
  /* border-radius: $pds-radius-sm; */
  border-radius: var(--pds-space-sm);
  filter: drop-shadow(0 2px 3px var(--pds-gray-alpha-200));
  max-width: calc(100dvh - var(--pds-space-xl));
  max-width: calc(100dvw - var(--pds-space-xl));
  padding: 0;
  transition: all 0.3s 0.1s;
  will-change: contents;

  @starting-style {
    opacity: 0;
  }
}

.pdsf-popover::backdrop {
  background: var(--pds-gray);
}

@supports (anchor-name: --test) {
  @media (min-width: 768px) {
    .pdsf-popover {
      inset: auto;
      position: absolute;
      position-try-fallbacks: flip-inline flip-block;
      margin: 0;

      &::backdrop {
        background: transparent;
      }
    }

    [class*="pdsf-popover-n"] {
      bottom: anchor(top);
      margin-bottom: var(--pds-space-xs);

      @starting-style {
        translate: 0 var(--pds-space-xs);
      }
    }

    [class*="pdsf-popover-s"] {
      margin-top: var(--pds-space-xs);
      top: anchor(bottom);

      @starting-style {
        translate: 0 calc(var(--pds-space-xs) * -1);
      }
    }

    .pdsf-popover-nw,
    .pdsf-popover-sw {
      right: anchor(right);
    }

    .pdsf-popover-n,
    .pdsf-popover-s {
      justify-self: anchor-center;
    }

    .pdsf-popover-ne,
    .pdsf-popover-se {
      left: anchor(left);
    }

    .pdsf-popover-w,
    .pdsf-popover-e {
      align-self: anchor-center;
    }

    .pdsf-popover-w {
      right: anchor(left);
      margin-right: var(--pds-space-xs);

      @starting-style {
        translate: var(--pds-space-xs);
      }
    }

    .pdsf-popover-e {
      left: anchor(right);
      margin-left: var(--pds-space-xs);

      @starting-style {
        translate: calc(var(--pds-space-xs) * -1);
      }
    }
  }
}


/* Non-PDS demo code */

body {
  display: grid;
  height: 100dvh;
  grid-template-columns: auto 1fr;
}

label {
  display: block;
  margin-top: var(--pds-space-md);
}

#input,
#output {
  padding: var(--pds-space-md);
}

#input {
  background: var(--pds-gray-100);
}

#output {
  display: grid;
  place-items: center;
}

#anchor-button {
  anchor-name: --anchor-el;
}

#anchor-popover {
  position-anchor: --anchor-el;
}

.button-nw {
  align-self: start;
  justify-self: left;
}

.button-n {
  align-self: start;
}

.button-ne {
  align-self: start;
  justify-self: right;
}

.button-w {
  justify-self: left;
}

.button-e {
  justify-self: right;
}

.button-sw {
  align-self: end;
  justify-self: left;
}

.button-s {
  align-self: end;
}

.button-se {
  align-self: end;
  justify-self: right;
}
