body {
  background: url(time_report.png) 50% 0 no-repeat;
  background-size: 1232px 743px;
  min-height: 743px;
}

.contain {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

#checkboxes {
  display: flex;
  flex-direction: column;
  gap: 4px;
  height: calc(4 * 31px);
  padding: 8px;
  overflow-y: scroll;
}

[data-checkbox] {
  border: 1px solid transparent;
  border-radius: 4px;
  list-height: 1;
  padding: 4px;
  position: relative;
}

[data-checkbox]:hover {
  background: #fff8f1;
  border-color: #ffa26c;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  cursor: grab;
  z-index: 2;
}

.dnd-list {
  
}

.dnd-list-item {

}

#open_exports {
  background: transparent;
  border: 0;
  color: transparent;
  height: 29px;
  left: 50%;
  margin-left: 499px;
  overflow: hidden;
  position: absolute;
  top: 442px;
  width: 57px;
}